body {
  background-color: white;
}

#root {
  width: 80%;
  height: 80%;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.loader {
  display: flex;
  background-color: white;
  justify-content: center;
  font-size: 30px;
}

.movies {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
}
